body {
font-family: "Arial, sans-serif";
}
table {
border-collapse: collapse;
}
div.photo_title {
text-align: center;
font-size: 120%;
font-weight: bold;
padding-top: 10px;
}
div.photo_description {
margin-left: 10%;
margin-right: 10%;
text-align: center;
font-size: 80%;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 */
word-wrap: break-word; /* IE */
}
img.set_thumb_photo {
display: block;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
}
.set_thumb_div {
padding: 5px;
border: 1px solid black;
display: inline-block;
margin-bottom: 3px;
}
img.medium_photo, img.thumb_photo {
display: block;
margin-left: auto;
margin-right: auto;
}
table.photo_table {
margin-left: 5%;
margin-right: 5%;
width: 90%;
}
td.photo_side {
width: 60%;
vertical-align: top;
}
td.info_side {
width: 40%;
vertical-align: top;
}
table.photo_nav {
margin-top: 30px;
border: 1px solid #ccc;
margin-bottom: 10px;
}
td.photo {
width: 100px;
margin-left: auto;
margin-right: auto;
}
.photo_nav_header, .view_on_flickr {
font-size: 80%;
text-align: center;
}
a img {
border: none;
}
td.set_summary {
vertical-align: top;
text-align: center;
padding-top: 1em;
padding-bottom: 1em;
font-size: 80%;
width: 125px;
}
.set_summary_num_photos {
font-size: 80%;
color: gray;
}
h1 {
text-align: center;
}
td.detail_photo {
padding: 5px;
padding-bottom: 5em;
}
.exif_tags, .download_links, .tags {
padding-top: 1em;
}
.exif_tag, .download_link, .tag {
font-size: 80%;
}
.exif_tags_header, .download_links_header, .tags_header {
font-weight: bold;
}
.header {
padding-left: 55px;
padding-bottom: 30px;
}
.header_title {
font-size: 120%;
display: block;
}
.buddy_icon {
display: inline;
}
.header_links {
text-align: left;
display: inline-block;
padding-left: 10px;
}
.header_breadcrumbs {
display: block;
}
.header_breadcrumb {
font-size: 80%;
padding-right: 2em;
}
.footer {
margin-top: 1em;
font-size: 80%;
color: gray;
font-style: italic;
text-align: center;
}
.set_thumbnails_outer {
margin-left: auto;
margin-right: auto;
text-align: center;
}
a.video_thumbnail {
position: relative;
float: left;
}
a.video_thumbnail span.play_icon {
position: absolute;
left: 0px;
top: 0px;
}
table.media_stats td.title {
font-weight: bold;
text-align: center;
padding-top: 2ex;
}
table.stats_table td.duplicate_images {
text-align: center;
}
table.stats_table {
margin-top: 2em;
}
table.stats_table td {
padding-top: 3px;
padding-left: 1ex;
padding-bottom: 3px;
padding-right: 1ex;
}
table.stats_table td.num_photos_col, table.stats_table td.storage_used_col, table.stats_table td.commulative_storage_used_col, table.stats_table td.value {
text-align: right;
}
.odd { 
background: #ffffff;
}
.even { 
background: #eeeeee; 
}
.title { 
background: #cccccc; 
}
.total {
font-weight: bold;
background: #dddddd;
}
.year_col {
padding: 1ex;
font-weight: bold;
vertical-align: top;
}
.month_col {
padding: 1ex;
vertical-align: top;
}
.archive {
margin-left: 55px;
}
.archive_current_month {
text-align: center;
font-weight: bold;
font-size: 120%;
}
